@charset "UTF-8";

.post-body {
    background-color: #263959;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0px;
    height: 1200px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    height: 80px;
    padding: 10px 20px 10px 20px;
}

.header-container {
    padding: 0;
    margin: 0;
}

.logo {
    float: left;
    padding-top: 15px;
}

.right-icons {
    padding: 20px 20px 0px 0px;
    text-align: right;
}

.icon-space {
    margin: 0px 10px 0px 10px;
}

.search {
    float: center;
    padding-top: 20px;
}

.search-types {
    padding: 0px 10px 0px 10px;
}

.llama_badge{
    position: relative;
}

.llama_badge[data-badge]:after {
  	content: attr(data-badge);
  	position: absolute;
  	top: -5px;
  	right: -1px;
  	font-size: .7em;
  	background: red;
  	color: white;
  	width:18px;height:18px;
  	text-align:center;
  	line-height:18px;
  	border-radius:50%;
  	box-shadow:0 0 1px #333;
}
