@charset "UTF-8";

.post-body {
    background-color: #263959;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 15px;
    color: #2c3e50;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    height: 80px;
    padding: 10px 20px 10px 20px;
}

.header-container {
    padding: 0;
    margin: 0;
}

.llama-header {
    position: fixed;
    width: 100%;
}

.llama-content {
    margin-top: 55px;
}

.logo {
    float: left;
    padding-top: 15px;
}

.right-icons {
    padding: 20px 20px 0px 0px;
    text-align: right;
}

.icon-space {
    margin: 0px 10px 0px 10px;
}

.search {
    float: center;
    padding-top: 20px;
}

.search-types {
    padding: 0px 10px 0px 10px;
}

.llama_badge{
    position: relative;
}

.llama_badge[data-badge]:after {
  	content: attr(data-badge);
  	position: absolute;
  	top: -5px;
  	right: -1px;
  	font-size: .7em;
  	background: red;
  	color: white;
  	width:18px;height:18px;
  	text-align:center;
  	line-height:18px;
  	border-radius:50%;
  	box-shadow:0 0 1px #333;
}

.llama_card_title_box {
    width: 540px;
    height: 65px;
    background-color: #ffffff;
    box-shadow: 6px 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.llama_card_title_padding {
    padding-top: 17px;
    padding-left: 28px;
}

.llama_card_title_text_bold {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #414141;
}

.llama_card_title_text_normal {
    font-weight: 300;
}

.llama_card_title_text_italic {
    font-weight: 300;
    font-style: italic;
}

.llama_card_title_text_blue {
    font-weight: 300;
    color: #4a90e2;
}

.llama_image_shaddow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.-spites-with-love {
  padding-left: 20px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.-spites-with-love-text-style-1 {
  color: #000000;
}

.-spites-with-love-text-style-2 {
  color: #d0021b;
}
